#cv-form{
    /* display: none; */
}
.myimg{
border:1px;
border-radius:300px;
width:150px;
height:100px
margin-left:0px;
color: aqua;
}
.background{
    background-color: aqua;
}

#cv-template{
    display: none;
}